@import url('https://use.fontawesome.com/releases/v5.8.1/css/all.css');

.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    /*animation: App-logo-spin infinite 20s linear;*/
  }
}

.App-header {
  background-color: #e2e5ec;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.token {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  display: inline-block;
}

.token-thumbnail {
  border: 1px solid #ddd; /* Gray border */
  border-radius: 4px;  /* Rounded border */
  padding: 5px; /* Some padding */
  width: 150px; /* Set a small width */
}

.Container{
  width:100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 10px;
  }

  .ImageContainer{
    width:80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;    
    }

  
  .image-card {
  padding: 5px;
  border: 1px solid #ddd;
  border-radius: 2px;  
  padding-left: 10px;
  }
  .image {
    width: 100%;
  }

  .headerStyle {
    color: #2ac4c4;
  }
  